<div class="container-fluid">
  <div class="row">
    <div class="col-7">
      <div class="row">
        <div class="col-lg-12 card mb-3" style="min-height: 5rem">
          <h1 *ngIf="loggedInUser.role === 'Provider'" class="mx-auto my-auto">
            {{ loggedInUser.biography }}
          </h1>
          <h1 *ngIf="loggedInUser.role === 'Client'" class="mx-auto my-auto">
            {{ loggedInUser.biography }}
          </h1>
          <h3 class="mx-auto my-auto" style="color: red" *ngIf="editUser">
            --------Edit your account here-------
          </h3>
          <div class="container-fluid" *ngIf="editUser">
            <form>
              <label>First Name: </label>
              <input
                class="form-control"
                type="text"
                name="firstName"
                placeholder="First Name"
                [(ngModel)]="editUser.firstName"
              /><br /><br />
              <label>Last Name: </label>
              <input
                class="form-control"
                type="text"
                name="lastName"
                placeholder="Last Name"
                [(ngModel)]="editUser.lastName"
              /><br /><br />
              <label>Biography: </label>
              <textarea
                class="form-control"
                name="biography"
                placeholder="Biography"
                [(ngModel)]="editUser.biography"
              ></textarea
              ><br /><br />
              <label>Email: </label>
              <input
                class="form-control"
                type="text"
                name="email"
                placeholder="Email"
                [(ngModel)]="editUser.email"
              /><br /><br />
              <label>Image URL: </label>
              <input
                class="form-control"
                type="text"
                name="imageUrl"
                placeholder="Image URL"
                [(ngModel)]="editUser.imageUrl"
              /><br /><br />
              <label>Phone Number: </label>
              <input
                class="form-control"
                type="text"
                name="phone"
                placeholder="Phone"
                [(ngModel)]="editUser.phone"
              /><br /><br />
              <label>Street: </label>
              <input
                class="form-control"
                type="text"
                name="street"
                placeholder="Street"
                [(ngModel)]="editUser.address.street"
              /><br /><br />
              <label>Street 2: </label>
              <input
                class="form-control"
                type="text"
                name="street2"
                placeholder="Street2"
                [(ngModel)]="editUser.address.street2"
              /><br /><br />
              <label>City: </label>
              <input
                class="form-control"
                type="text"
                name="city"
                placeholder="City"
                [(ngModel)]="editUser.address.city"
              /><br /><br />
              <label>State: </label>
              <input
                class="form-control"
                type="text"
                name="state"
                placeholder="State"
                [(ngModel)]="editUser.address.state"
              /><br /><br />
              <label>Zip Code: </label>
              <input
                class="form-control"
                type="text"
                name="zip"
                placeholder="Zip"
                [(ngModel)]="editUser.address.zip"
              /><br /><br />
              <button
                (click)="updateUser(editUser)"
                class="btn btn-login"
                name="submit"
                type="submit"
              >
                Finish Edit
              </button>
              <button
                (click)="editUser = null"
                class="btn btn-danger"
                name="submit"
                type="submit"
              >
                Cancel
              </button>
            </form>
          </div>
        </div>

        <div class="col-lg-4 card mb-3 gx-5">
          <img
            class="bd-placeholder-img rounded-circle mx-auto my-auto"
            width="140"
            height="140"
            src="{{ loggedInUser.imageUrl }}"
            role="img"
            aria-label="Placeholder"
            (click)="setEditUser()"
          />
          <p class="mx-auto"><small>click to edit</small></p>
        </div>
        <div class="col-lg-8 card mb-3">
          <div class="card-body">
            <h5 class="card-title">
              {{ loggedInUser.firstName }} {{ loggedInUser.lastName }}
            </h5>
            <h6 class="card-subtitle mb-2 text-body-secondary">Rating</h6>
            <p class="card-text">{{ loggedInUser.email }}</p>
            <button class="btn btn-dark col-lg-4 me-5">Message</button>
            <button class="btn btn-dark col-lg-4">Share</button>
          </div>
        </div>

        <div
          class="col-lg-12 card mb-3"
          style="height: 15rem; overflow-x: auto"
        >
          <h2 *ngIf="loggedInUser.role === 'Provider'">Job History</h2>
          <h2 *ngIf="loggedInUser.role === 'Client'">Post History</h2>
          <!-- Providers Job History -->
          <div class="col mx-auto">
            <div class="container">
              <div
                class="card"
                style="
                  display: grid;
                  grid-template-columns: repeat(4, 1fr);
                  max-width: 100%;
                  align-items: stretch;
                "
              >
                <div *ngFor="let post of jobPosts">
                  <div *ngIf="loggedInUser.providers">
                    <div *ngFor="let provider of loggedInUser.providers">
                      <p>{{ provider.company }}</p>
                      <div *ngFor="let bid of provider.bids">
                        <p>{{ bid.jobPost.title }}</p>
                        <p>{{ bid.amount }}</p>
                      </div>
                    </div>
                    <img
                      (click)="viewPost(post)"
                      src="{{ post.imageUrl }}"
                      class="img-thumbnail me-3"
                      style="max-width: 150px; max-height: 150px"
                      alt="No Image"
                    />
                  </div>
                </div>
              </div>
            </div>
          </div>

          <!-- Client Post History -->
          <div class="col mx-auto">
            <div class="container">
              <div
                class="card"
                style="
                  display: grid;
                  grid-template-columns: repeat(4, 1fr);
                  max-width: 100%;
                  align-items: stretch;
                "
              >
                <div *ngFor="let post of jobPosts">
                  <div *ngIf="post.enabled">
                    <img
                      (click)="viewPost(post)"
                      src="{{ post.imageUrl }}"
                      class="img-thumbnail me-3"
                      style="max-width: 150px; max-height: 150px"
                      alt="No Image"
                    />
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <a [routerLink]="['/job-post']">See all</a>
      </div>
    </div>
    <div class="col-lg-5 card mb-3" style="height: 35.5rem; overflow-y: auto">
      <form>
        <p>Post A Job</p>
        <div class="form-floating">
          <input
            type="text"
            name="name"
            class="form-control"
            id="floatingInput"
            placeholder="title"
            [(ngModel)]="newPost.title"
          />
          <br />
          <label for="floatingInput">Title</label>
        </div>
        <div class="form-floating">
          <input
            type="text"
            name="description"
            class="form-control"
            id="floatingInput"
            placeholder="description"
            [(ngModel)]="newPost.description"
          />
          <br />
          <label for="floatingInput">Description</label>
        </div>
        <div class="form-floating">
          <input
            type="date"
            name="startDate"
            class="form-control"
            id="floatingInput"
            placeholder="startDate"
            [(ngModel)]="newPost.startDate"
          />
          <br />
          <label for="floatingInput">Start Date</label>
        </div>
        <div class="form-floating">
          <input
            type="text"
            name="specialInstructions"
            class="form-control"
            id="floatingInput"
            placeholder="specialInstructions"
            [(ngModel)]="newPost.specialInstructions"
          />
          <br />
          <label for="floatingInput">Special Instructions</label>
        </div>
        <div class="form-floating">
          <input
            type="text"
            name="imageUrl"
            class="form-control"
            id="floatingInput"
            placeholder="imageUrl"
            [(ngModel)]="newPost.imageUrl"
          />
          <br />
          <label for="floatingInput">Job Image</label>
        </div>
        <div class="form-floating">
          <input
            type="text"
            name="budgetMax"
            class="form-control"
            id="floatingInput"
            placeholder="budgetMax"
            [(ngModel)]="newPost.budgetMax"
          />
          <br />
          <label for="floatingInput">Max Budget</label>
        </div>
        <label>Materials Provided?</label>
        <input
          type="checkbox"
          name="materialsProvided"
          [(ngModel)]="newPost.materialsProvided"
        /><br />
        <input type="submit" (click)="addPost(newPost)" />
      </form>
    </div>
  </div>
  <div class="row">
    <div
      class="col-lg-7 card mb-3"
      style="max-height: 20rem; overflow-y: auto"
      *ngIf="loggedInUser.role === 'Client'"
    >
      <h1>Active Posts</h1>
      <div class="card" *ngFor="let post of jobPosts">
        <div *ngIf="post.complete === false">
          <img
            src="{{ post.imageUrl }}"
            class="img-thumbnail me-3"
            style="max-width: 150px"
            alt="No Image"
          />
          <div class="card-body" (click)="showBids(post)">
            <h6 class="nav-link">
              <u>{{ post.title }}</u>
            </h6>
            <hr />
            <p>{{ post.description }}</p>
          </div>
          <button
            class="btn btn-outline-warning"
            value="edit"
            (click)="viewPost(post)"
          >
            View Post
          </button>
        </div>
      </div>
    </div>
    <div
      class="col-lg-7 card mb-3"
      style="max-height: 20rem; overflow-y: auto"
      *ngIf="loggedInUser.role === 'Provider'"
    >
      <h1>Active Jobs</h1>
      <div class="card" *ngFor="let post of jobPosts">
        <div *ngFor="let bid of post.bids">
          <div *ngIf="bid.provider.id === loggedInUser.id">
            <div *ngIf="post.complete === false">
              <img
                src="{{ post.imageUrl }}"
                class="img-thumbnail me-3"
                style="max-width: 150px"
                alt="No Image"
              />
              <div class="card-body" (click)="showBids(post)">
                <h6 class="nav-link">
                  <u>{{ post.title }}</u>
                </h6>
                <hr />
                <p>{{ post.description }}</p>
              </div>
              <button
                class="btn btn-outline-warning"
                value="edit"
                (click)="viewPost(post)"
              >
                View Post
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-lg-5 card mb-3" style="height: 20rem">
      <h1>Bids</h1>
      <div class="card">
        <div class="card-body" *ngFor="let bid of bids">
          <li>Bid: ${{ bid.amount }}</li>
          <li>From: {{ bid.provider.company }}</li>
          <input
            type="checkbox"
            (change)="toggleAcceptBid($event, bid.jobPost.id, bid.id)"
            name="accepted"
            [(ngModel)]="bid.accepted"
          />Accepted
        </div>
        <div *ngIf="loggedInUser.providers">
          <div *ngFor="let provider of loggedInUser.providers">
            <!-- <p>{{provider.company}}</p> -->
            <div *ngFor="let bid of provider.bids">
              <p>Title: {{ bid.jobPost.title }}</p>
              <p>Bid Price: ${{ bid.amount }}</p>
              <p>User Rating: {{ bid.ratingByUser }}</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div *ngIf="loggedInUser.providers">
    <div *ngFor="let provider of loggedInUser.providers">
      <p>{{ provider.company }}</p>
      <div *ngFor="let bid of provider.bids">
        <p>{{ bid.jobPost.title }}</p>
        <p>{{ bid.amount }}</p>
      </div>
    </div>
  </div>
</div>
