<img src="assets/About Us.png" class="align-center" alt="Contact">

<!-- <div class="container">
  <div class="row">
    <div class="col-md-12">
      <h2>About QuickFix HomeHub</h2>
      <p>At QuickFix HomeHub, we connect homeowners with top-rated contractors... </p>
    </div>
  </div>

  <div class="row">
    <div class="col-md-6">
      <h3>Our Services</h3>
      <ul>
        <li>Upgrade your home</li>
        <li>Repair needs</li>
        <li>Home revitalization</li>
      </ul>
    </div>
    <h3>Our Process</h3>
    <p>Post your project, receive bids, and choose the best - all in one place.</p>
  </div>

</div> -->

