<!-- <div class="page-background">
  <video autoplay loop muted playsinline>
    <source src="assets/7D5020.mp4" type="video/mp4">
    Your browser does not support the video tag.
  </video>
</div> -->
<form >
  <div class="form-wrapper">
  <input class= "form-control" type="text" name="username" placeholder="username" [(ngModel)]="loginUser.username"><br>
  <input class= "form-control" type="password" name="password" placeholder="password" [(ngModel)]="loginUser.password"><br>
  <button class="btn btn-login" name="submit" type="submit" (click)="login(loginUser)">Sign In</button>
  <div class="signup-link">
    Don’t have an account? <a [routerLink]="['/register']">Sign Up</a>
  </div>
</div>
</form>
