<div class="image-overlay-container">
  <img
    src="assets/heroindex.png"
    alt="Hero Image"
    style="width: 100%; height: auto"
  />
  <div class="button-container">
    <button
      class="btn btn-search"
      *ngIf="!loggedIn()"
      [routerLink]="['/login']"
    >
      Find a Provider
    </button>
    <button
      class="btn btn-search"
      *ngIf="!loggedIn()"
      [routerLink]="['/login']"
    >
      Post a Project
    </button>
    <button
      class="btn btn-search"
      *ngIf="loggedIn()"
      [routerLink]="['/search']"
    >
      Find a Provider
    </button>
    <button
      class="btn btn-search"
      *ngIf="loggedIn()"
      [routerLink]="['/dashboard']"
    >
      Post a Project
    </button>
  </div>
</div>

<!-- <div class="container-fluid">
  <div class="row">
    <div class="col-md-8">
      <img
        id="firstImage"
        [src]="getRandomImage()"
        class="img-fluid"
        style="width: 100%"
        alt="Image 1"
      />
    </div>
    <div class="col-md-4">
      <div class="text-center">
        <h5>Daily dose of inspiration !</h5>
        <p class="lead text-muted">
          {{ getRandomQuote() }}
        </p>
      </div>
      <div class="row">
        <div id="indexBlockquote" class="card">
          <div class="card-body">
            <h5 class="card-title">Lets get started !</h5>
            <h6 class="card-subtitle mb-2 text-body-secondary"></h6>
            <p class="card-text">
              Every service provider has been verified by our community and is
              guaranteed to treat your home like their own.
            </p>
            <a
              id="achortext"
              *ngIf="!loggedIn()"
              [routerLink]="['/login']"
              class="card-link"
              >Find A Service Provider
            </a>
            <a
              id="achortext"
              *ngIf="loggedIn()"
              [routerLink]="['/search']"
              class="card-link"
              >Find a Service
            </a>

            <a
              id="achortext"
              *ngIf="!loggedIn()"
              [routerLink]="['/login']"
              class="card-link"
              >Post a Project</a
            >
            <a
              id="achortext"
              *ngIf="loggedIn()"
              [routerLink]="['/dashboard']"
              class="card-link"
              >Post a Project</a
            >
          </div>
        </div>
      </div>
    </div>
  </div>
</div> -->

<div class="color-bar"></div>

<div class="container-fluid">
  <div class="row" id="middleBand">
    <div class="col-3">
      <img
        src="assets/firepit.jpeg"
        class="img-thumbnail me-3"
        style="max-width: 250px; height: 200px"
        alt="Fire Pit"
      />
    </div>
    <div class="col-3">
      <img
        src="assets/gazebo.jpeg"
        class="img-thumbnail me-3"
        style="max-width: 250px; height: 200px"
        alt="Gazebo"
      />
    </div>
    <div class="col-3">
      <img
        src="assets/livingspace.jpeg"
        class="img-thumbnail me-3"
        style="max-width: 250px; height: 200px"
        alt="Living Space"
      />
    </div>
    <div class="col-3">
      <img
        src="assets/paintedWall.jpeg"
        class="img-thumbnail me-3"
        style="max-width: 250px; height: 200px"
        alt="Painted Wall"
      />
    </div>

  </div>

  <br />
  <div>
    <h1 class = "text-center">Meet Our Featured Contractors</h1>
  </div>
  <div class="container-fluid">
    <div class="row">
      <div class="col-6">
        <div id="indexBlockquote" class="card">
          <div class="card-body">
            <h5 class="card-title">HandyGill</h5>
            <h6 class="card-subtitle mb-2 text-body-secondary">
             Est: 2005
            </h6>
            <h6 class="card-subtitle mb-2 text-body-secondary">
             Founder: Gill Bert
            </h6>
            <p class="card-text">
              "Gill is the man! He helped with project around my home and kept me updated with all the work he was doing." -Thomas
            </p>
          </div>
        </div>
      </div>

      <div class="col-6">
        <div id="indexBlockquote" class="card">
          <div class="card-body">
            <h5 class="card-title">Springfield Painting</h5>
            <h6 class="card-subtitle mb-2 text-body-secondary">Est: 1999</h6>
            <h6 class="card-subtitle mb-2 text-body-secondary">Founder: Bob Sae</h6>
            <p class="card-text">
              "Springfield Painting Co. came to our home and turn made our dreams to reality! I love the attention to detail." -Sarah
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>

  <section class="bg-light mt-5">
    <div class="container-fluid">
      <div class="text-center">
        <h5>Lets find the right person for your project</h5>
        <p class="lead text-muted">
          Quick Fix HomeHub is a client-centric online platform, surpassing the
          capabilities of Angie's List and Thumbtack. With a personalized
          interface, clients can easily post service requests, and advanced
          algorithms connect them with the most suitable professionals. The
          platform prioritizes transparency, allowing clients to make informed
          decisions through detailed profiles and direct communication with
          service providers.
        </p>
      </div>
    </div>
  </section>
</div>
