<div class="search-container">
    <div class="column column-70">

        <!-- Display properties of the item based on the searchType -->
        <div class="result-item">

            <h3></h3>
            <p>Posted By: </p>
            <p>Projected Budget: </p>
            <p>Description: </p>
            <p>Project Area: </p>
            <div>
                <ul>
                    <li></li>
                </ul>
            </div>
            <p>Phone: </p>
            <p>Email:</p>
            <p>Materials Provided:</p>
        </div>

    </div>
</div>