<div class="search-container">

  <div class="column column-30">
    <h4 class="text-center">Gills Handy Service</h4>
    <p class="text-center">Phone: (564)-456-4582</p>
    <p class="text-center">Email: Gills&#64;Example.com</p>
    <p class="text-center">Decsription: Crafting Convenience, Tackling Tasks – Your All-in-One Solution for a Seamless Home Experience.</p>
  </div>

    <div class="column column-70">
        <!-- Display properties of the item based on the searchType -->
        <div class="result-item">

            <h3>Kitchen Remodel</h3>
            <p>Posted By: Joe Joe</p>
            <p>Projected Budget: $10000.00</p>
            <p>Description: Hey folks! Time to spice up my kitchen, and I'm on the hunt for recommendations on fantastic contractors for a remodel. If anyone has a go-to person or company, drop their details in the comments – looking for top-notch expertise to turn my kitchen dreams into reality. Thanks a bunch!</p>
            <p>Project Area: </p>
            <div>
                <ul>
                    <li>Kitchen</li>
                </ul>
            </div>
            <p>Phone: (456)-456-4562</p>
            <p>Email: joeadmin&#64;google.com</p>
            <p>Materials Provided: false</p>
        </div>

        <div class="result-item">

          <h3>Wedding Photographer Needed</h3>
          <p>Posted By: Thomas Anderson</p>
          <p>Projected Budget: $800.00</p>
          <p>Description: Hey friends! Exciting news - we're tying the knot and on the lookout for a talented wedding photographer to capture our special day! If you've had an amazing experience with someone or know someone fantastic, drop their info below. Can't wait to find the perfect person to freeze-frame our magical moments!</p>
          <p>Project Area: </p>
          <div>
              <ul>
                  <li>Other</li>
              </ul>
          </div>
          <p>Phone: (303)-123-0102</p>
          <p>Email: neo&#64;matrix.com</p>
          <p>Materials Provided: true</p>
      </div>

      <div class="result-item">

        <h3>Garage Addition </h3>
        <p>Posted By: Thomas Anderson</p>
        <p>Projected Budget: $8000.00</p>
        <p>Description: Hey everyone! Considering adding a garage to my home and could use some advice. Any recommendations for skilled contractors or tips on navigating the process would be greatly appreciated. Drop your suggestions below – looking forward to transforming my space!</p>
        <p>Project Area: </p>
        <div>
            <ul>
                <li>Garage</li>
            </ul>
        </div>
        <p>Phone: (303)-123-0102</p>
        <p>Email: neo&#64;matrix.com</p>
        <p>Materials Provided: flase</p>
    </div>

    </div>
</div>
