<nav class="navbar navbar-expand-sm bg-body-tertiary" data-bs-theme="dark">
  <div class="container-fluid">
    <a class="navbar-brand" [routerLink]="['/index']">Home</a>
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarNavAltMarkup"
      aria-controls="navbarNavAltMarkup"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav">
        <a class="nav-link disabled" [routerLink]="['/about']">About</a>
        <a class="nav-link" *ngIf="loggedIn()" [routerLink]="['/dashboard']">Dashboard</a>
        <a class="nav-link" *ngIf="!loggedIn()" [routerLink]="['/login']">Login</a>
        <!-- <a class="nav-link" [routerLink]="['/logout']">logout</a> -->
        <app-logout *ngIf="loggedIn()"></app-logout>

        <a class="nav-link" *ngIf="!loggedIn()" [routerLink]="['/register']">Register</a>
      </div>
    </div>
  </div>
</nav>

<!-- (click)="isCollapsed = !isCollapsed"
  [attr.aria-expanded]="!isCollapsed" -->
<!-- [ngbCollapse]="isCollapsed" -->
