<nav class="navbar">
  <div class="container-fluid">
    <a class="navbar-brand" [routerLink]="['/index']">
      <img src="assets/50x50 logo quickfix homehub.png" width="60" height="60" class="d-inline-block align-center" alt="Logo">
      QuickFix HomeHub
    </a>

    <!-- Centered Search Bar -->
    <form class="d-flex mx-auto" style="width: 500px;" >
      <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
      <button class="btn btn-search" type="submit">Submit</button>
    </form>

    <!-- <a class="nav-link" *ngIf="loggedIn()" [routerLink]="['/posts']">Posts</a>
    <a class="nav-link" *ngIf="loggedIn()" [routerLink]="['/jobs']">Jobs</a>
    <a class="nav-link" *ngIf="loggedIn()" [routerLink]="['/profile']">Profile</a> -->

    <ul class="nav justify-content-end">
      <li class="nav-nav">
        <a class="nav-link" *ngIf="!loggedIn()" [routerLink]="['/login']">Login</a>
      </li>
      <li class="nav-nav">
        <a class="nav-link" *ngIf="!loggedIn()" [routerLink]="['/register']">Sign Up</a>
      </li>
    </ul>

    <ul class="nav justify-content-end">
      <li class="nav-nav">
        <a class="nav-link" *ngIf="loggedIn()" [routerLink]="['/profile']">Profile</a>
      </li>
      <li class="nav-nav">
        <a class="nav-link" *ngIf="loggedIn()" [routerLink]="['/posts']">Posts</a>
      </li>
      <li class="nav-nav">
        <a class="nav-link" *ngIf="loggedIn()" [routerLink]="['/jobs']">Jobs</a>
      </li>
    </ul>










    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarNavAltMarkup"
      aria-controls="navbarNavAltMarkup"
      aria-expanded="false"
      aria-label="Toggle navigation"
      (click)="isCollapsed = !isCollapsed"
      [attr.aria-expanded]="!isCollapsed"
    >
      <span class="navbar-toggler-icon"></span>
    </button>

    <!-- <div class="collapse navbar-collapse d-m-flex" id="navbarNavAltMarkup" [ngbCollapse]='isCollapsed'> -->
    <div class="collapse navbar-collapse justify-content-end" id="navbarRightAligned" [ngbCollapse]='!isCollapsed'>
      <div class="navbar-nav">



        <!-- Move Services About Contact to side nav -->
        <!-- <a class="nav-link" [routerLink]="['/search']">Services</a> -->
        <a class="nav-link" [routerLink]="['/about']">About</a>
        <a class="nav-link" [routerLink]="['/contact']">Contact</a>
        <a class="nav-link" *ngIf="loggedIn()" [routerLink]="['/dashboard']">Dashboard</a>

        <a class="nav-link" *ngIf="!loggedIn()" [routerLink]="['/login']">Login</a>
        <a class="nav-link" *ngIf="!loggedIn()" [routerLink]="['/register']">Sign Up</a>

        <!-- if user "posts" / if provider "jobs" -->
        <a class="nav-link disabled mx-" *ngIf="loggedIn()" [routerLink]="['/posts']">Posts</a>
        <a class="nav-link disabled" *ngIf="loggedIn()" [routerLink]="['/jobs']">Jobs</a>
        <a class="nav-link disabled" *ngIf="loggedIn()" [routerLink]="['/profile']">Profile</a>

        <app-logout *ngIf="loggedIn()"></app-logout>

        <!-- <form class="d-flex d-lg-none w-100 mt-2">
          <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
          <button class="btn btn-outline-success" type="submit"></button>
        </form> -->

      </div>
    </div>
  </div>
</nav>

<!-- (click)="isCollapsed = !isCollapsed"
  [attr.aria-expanded]="!isCollapsed" -->
<!-- [ngbCollapse]="isCollapsed" -->
