.btn-search {
  color: #2C251E;
  border-color: #2C251E;
}

.btn-search:hover {
  color: #2C251E;
  background-color: #C4BCB4;
}

.btn-logout {
  border-color: #2C251E;
  color: #2C251E;
}

.btn-logout:hover {
  color: #2C251E;
  background-color: #C4BCB4;
}
