.navbar {
  background-color: #e6e0da;
}

.navbar-nav {
  align-items: flex-end;
}

.nav-link {
  color: #2c251e;
  transition: all 0.2s;
}

.nav-link:hover {
  color: #2c251e;
  text-decoration: underline;
}

.btn-search {
  color: #2c251e;
  border-color: #2c251e;
}

.btn-search:hover {
  color: #2c251e;
  background-color: #c4bcb4;
}

.btn-logout {
  border-color: #2c251e;
  color: #2c251e;
}

.btn-logout:hover {
  color: #2c251e;
  background-color: #c4bcb4;
}

.navbar-brand {
  font-family: "Cormorant Garamond", serif;
  font-size: xx-large;
}
#middleBand {
  background-color: #d7d7d7;
  padding: 1%;
  border: none;
}
#firstImage {
  background-color: #d7d7d7;
  padding: 2%;
}
#indexBlockquote {
  background-color: #d7d7d7;
  border-color: #d7d7d7;
}

.search-container {
  display: flex;
  gap: 20px;
  padding: 20px;
}

.column {
  border-radius: 10px;
  padding: 20px;
}

.column-30 {
  margin-top: 20px;
  border: 3px solid #E6E0DA;
  flex: 0 0 30%;
  height: 1000px;
}

.filter-group {
  text-align: center;
  margin-top: 30px;
  margin-bottom: 60px;
  box-sizing: content-box;
}

.column-70 {
  flex: 0 0 70%;
  height: 10%;
}

.result-item {
  font-family: 'Montserrat', sans-serif;
  font-size: 15px;
  border: 3px solid #E6E0DA; /* Example border color */
  border-radius: 10px;
  padding: 10px;
  margin-bottom: 20px; /* Space between result items */
  background-color: #FFF; /* Background color for the item */
}

.no-results {
  text-align: center;
  margin-top: 20px;
}

#firstImage {
  width: auto;
  height: auto;
}
#achortext {
  color: inherit; /* Inherits the color from the parent element */
  text-decoration: none; /* Removes the underline */
}
#achortext:hover {
  /* Optional: Style for hover state if needed */
  color: dimgray;
  text-decoration: none;
}
